database = /home/xhuang/Tools/Results/Databases/uniprot-human-reviewed_202108_iRT_plus_cRAP_targDecoy.fasta
dataset = dataset01 psm.tsv ./

annotation-custom = false
annotation-glyco = false
annotation-unimod = false
annotation_file = common
annotation_tol = 0.01
cap_y_ions = 
compare_betweenRuns = false
diag_ions = 
glyco_mode = false
histo_bindivs = 5000
histo_normalizeTo = psms
histo_smoothbins = 2
iontype_a = 0
iontype_b = 1
iontype_c = 0
iontype_x = 0
iontype_y = 1
iontype_z = 0
isotope_error = 0/1
isotope_states = 
localization_allowed_res = 
localization_background = 4
mass_offsets = 0
normalization-psms = true
normalization-scans = false
output_extended = false
peakpicking_mass_units = 1
peakpicking_minPsm = 10
peakpicking_promRatio = 0.3
peakpicking_topN = 500
peakpicking_width = 3
precursor_mass_units = 1
precursor_tol = 3
remainder_masses = 
run-shepherd = true
spectra_condPeaks = 100
spectra_condRatio = 0.01
spectra_maxfragcharge = 2
spectra_ppmtol = 20
threads = 64
varmod_masses = 
