manifest {
    description = 'SysteMHC computational pipeline for immunopeptidomics'
    author = 'Xiaoxiang Huang'
}

params {

    help = false
    dda_folder = '/Path/DDA'

    comet_params = 'Params/comet.params'
    msgf_params = 'Params/msgf.params'
    fragger_params = 'Params/fragger.params'
    
    mods = 'Params/mymods'
    comet_threads = 56
    msgf_threads = 24
    fragger_threads = 96	
    protein_db = 'Params/proteome.fasta'
    ptmname = '/home/xhuang/Tools/NF-pipeline/SysteMHC-pipeline/Params/name_replace.csvh'	

    tpp = "-OAPNd -PPM -eN"
    tppl = "-OAPNd -eN"
    ionstype = "HCD"
    instrument = "High"

    mode = "offset"
    MHClass = 'MHC1'
    decoy = "DECOY_"
    alleles = 'noalleles'
    neo = "no"

    xinteract_threads = 48
    iprophet_threads = 48
}

process{
    withName:CometSearch {
	container = 'shaolab/tpp:v5.2.1'
    }
    withName:MSGFPlusSearch {
	container = 'shaolab/msgfplus:v20210322'
    }
    withName:PeptideprophetComet {
	container = 'shaolab/tpp:v6.0.0'
    }
    withName:MSGFmzid {
	container = 'shaolab/tpp:v6.0.0'
    }
    withName:PeptideprophetMSGF {
	container = 'shaolab/tpp:v6.0.0'
    }
    withName:MsfraggerSearch {
	container = 'shaolab/fragpipe:v17'
    }
    withName:PeptideprophetFragger {
	container = 'shaolab/philosopher:4.2.1'
    }
    withName:ProteinprophetFragger {
	container = 'shaolab/philosopher:4.2.1'
    }
    withName:Filter {
	container = 'shaolab/philosopher:4.2.1'
    }
    withName:Interprophet {
	container = 'shaolab/tpp:v6.0.0'
    }
    withName:FDRcal {
	container = 'shaolab/msproteomicstools:0.11.0'
    }
    withName:LibraryGen1 {
	container = 'shaolab/tpp:v6.0.0'
    }
    withName:NETMHCpan {
	container = 'shaolab/netmhcpan:v4.1'
    }
    withName:LibraryGen2 {
	container = 'shaolab/tpp:v6.0.0'
    }
    withName:LibraryGen3 {
	container = 'shaolab/tpp:v6.0.0'
    }
    withName:GibbsCluster {
	container = 'shaolab/gibbscluster:2.0'
    }
}

docker {
    enabled = true
    sudo = false
    runOptions = '-e LOCAL_USER_ID=$(id -u) -u $(id -u):$(id -g)'
}

executor {
     name = 'local'
     cpus = 96
     memory = '214 GB'
}
